# dependencies
node_modules

# next.js
.next
out

# environment / secrets
.env
.env.local
.env.*.local

# editor
.vscode

# compiled native build output
/keygen
*.exe
*.obj
*.o

# misc
*.log
.DS_Store
